<%= form_with(model: det_orden, local: true) do |form| %>
  <% if det_orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(det_orden.errors.count, "error") %> prohibited this det_orden from being saved:</h2>

      <ul>
      <% det_orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_prod %>
    <%= form.number_field :id_prod %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
