<p id="notice"><%= notice %></p>

<p>
  <strong>Id c:</strong>
  <%= @ordene.id_c %>
</p>

<p>
  <strong>Norden:</strong>
  <%= @ordene.nOrden %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ordene.fecha %>
</p>

<%= link_to 'Edit', edit_ordene_path(@ordene) %> |
<%= link_to 'Back', ordenes_path %>
